<div class="card-deck" style="margin-top: 100px !important; justify-content: center;">
    <div class="card text-white bg-dark mb-3 effectGrow" style="max-width: 18rem;" (click)="goRegister()">
        <div class="card-body">
            <h5 class="card-title">Registrar Cálculo</h5>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 effectGrow" style="max-width: 18rem;" (click)="goQuery()">
        <div class="card-body">
            <h5 class="card-title">Consultar Información</h5>
        </div>
    </div>
</div>